<!-- <!-- <h1><%= @movie.title %></h1><br>
<img src="<%=@movie.poster_url%>" height="400" width="300"><br>
<%= @movie.tagline %><br>
<%= @movie.overview %>
<ul>
<% @movie.quotes.each do |quote| %>
<audio controls>
  <source src="<%=quote.audio_path%>" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<li><%= quote.quote %></li>
<% end %>
</ul>  -->
<<<<<<< HEAD
=======
<script type="text/javascript">
	var score = 0
</script>
<style>
  button#answer{
color:#08233e;
font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
padding:14px;
background:url(overlay.png) repeat-x center #ffcc00;background-color:rgba(255,204,0,1);
border:1px solid #ffcc00;
-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
border-bottom:1px solid #9f9f9f;
-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
cursor:pointer;
}
>>>>>>> 7a63273cd8c9fb689727488ea03d228b896aadb0




<h1 align="center">Guess the Movie!</h1>
<h3>Score:</h3><h3 id="score">0</h3>

<div id="body">
<div align="center">

<% quote_object = @movie.quotes.sample %>
<% binding.pry %>
<%= quote_object.quote %>
 <br>Genre: <%= @movie.genre %>
<br>Release date: <%= @movie.release_date %>
</div>
<%#word = @movie.quotes.find_by id: (quote_object.id + 1)%>
<% bob = quote_object.audio_path.gsub("/Users/mendelblesofsky/Development/projects/Guess-the-Movie/movie_files/","")  %>
<% binding.pry %>	
<%= audio_tag bob, class: "audio-play" %>
<%#binding.pry%>
<button class="audioButton">Play</button>


<button id="hint" type="button" >Hint</button>
<% movies = [] %>
<% 3.times do %>
 <% movies << Movie.all.sample.poster_url%>
<% end ; movies << @movie.poster_url %>
<% movies.shuffle! %>

<p id="info">
<%= @movie.tagline %>

</p>>


<div id="wrapper">

	<div class="movie_row">
		<button id="answer" type="button" > 
			<img src="<%=movies[0]%>" height="250" width="200"><br> 
		</button>

		<button id="answer" type="button" >
			<img src="<%=movies[1]%>" height="250" width="200">
		</button>
	</div>
	<div class="movie_row">
		<button id="answer" type="button" > 
			<img src="<%=movies[2]%>" height="250" width="200">
		</button>

		<button id="answer" type="button" >
			<img src="<%=movies[3]%>" height="250" width="200">
		</button>
	</div>
</div>
</div>


<script>
$("p#info").hide();
$(document).ready(function() {
$( "button#hint" ).click(function() {
 $("p#info").toggle();

});
$(".audioButton").on("click", function() {
  $(".audio-play")[0].currentTime = 0;
  return $(".audio-play")[0].play();
});
$('img[src="<%=@movie.poster_url%>"]').click(function(){
	$('#body').html('')
	score ++;
	$('#score').text(score);
	$.post("/game_play/new", {"right/wrong" : "right" }, function(html){
		$('#body').html(html).slide('slow');
	});
});
});
</script>