<!-- <!-- <h1><%= @movie.title %></h1><br>
<img src="<%=@movie.poster_url%>" height="400" width="300"><br>
<%= @movie.tagline %><br>
<%= @movie.overview %>
<ul>
<% @movie.quotes.each do |quote| %>
<audio controls>
  <source src="<%=quote.audio_path%>" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<li><%= quote.quote %></li>
<% end %>
</ul>  -->




<h1 align="center">Guess the Movie!</h1>
<h3>Score:</h3><h3 id="score">0</h3>
<div align="center">

<% quote_object = @movie.quotes.sample %>
<%= quote_object.quote %>
 <br>Genre: <%= @movie.genre %>
<br>Release date: <%= @movie.release_date %>
</div>
<%#word = @movie.quotes.find_by id: (quote_object.id + 1)%>
<% bob = quote_object.audio_path.gsub("/Users/mendelblesofsky/Development/projects/Guess-the-Movie/movie_files/","")  %>
<%= audio_tag bob, class: "audio-play" %>
<%#binding.pry%>
<button class="audioButton">Play</button>


<button id="hint" type="button" >Hint</button>
<% movies = [] %>
<% 3.times do %>
 <% movies << Movie.all.sample.poster_url%>
<% end ; movies << @movie.poster_url %>
<% movies.shuffle! %>

<p id="info">
<%= @movie.tagline %>

</p>>


<div id="wrapper">

	<div class="movie_row">
		<button id="answer" type="button" > 
			<img src="<%=movies[0]%>" height="250" width="200"><br> 
		</button>

		<button id="answer" type="button" >
			<img src="<%=movies[1]%>" height="250" width="200">
		</button>
	</div>
	<div class="movie_row">
		<button id="answer" type="button" > 
			<img src="<%=movies[2]%>" height="250" width="200">
		</button>

		<button id="answer" type="button" >
			<img src="<%=movies[3]%>" height="250" width="200">
		</button>
	</div>
</div>



<script>
$(document).ready(function() {
$("p#info").hide();
var score = 0;
$( "button#hint" ).click(function() {
 $("p#info").toggle();

});
$(".audioButton").on("click", function() {
  $(".audio-play")[0].currentTime = 0;
  return $(".audio-play")[0].play();
});
$('img[src="<%=@movie.poster_url%>"]').click(function(){
	score ++;
	$('#score').text(score);
});
});
</script>