<!-- <!-- <h1><%= @movie.title %></h1><br>
<img src="<%=@movie.poster_url%>" height="400" width="300"><br>
<%= @movie.tagline %><br>
<%= @movie.overview %>
<ul>
<% @movie.quotes.each do |quote| %>
<li><%= quote.quote %></li>
<% end %>
</ul>  -->





<h1 align="center">Guess the Movie!</h1>
<div align="center">

<% quote_object = @movie.quotes.sample %>
<%= quote_object.quote %>
 <br>Genre: <%= @movie.genre %>
<br>Release date: <%= @movie.release_date %>
</div>
<%#word = @movie.quotes.find_by id: (quote_object.id + 1)%>
<% bob = quote_object.audio_path.gsub("/Users/mendelblesofsky/Development/projects/Guess-the-Movie/movie_files/","")  %>
<%= audio_tag bob, class: "audio-play" %>
<%#binding.pry%>
<button class="audioButton">Play</button>

<button id="hint" type="button"> Hint </button>

<p id="info">
<%= @movie.overview %>

</p>>

<div class='wrapper' style="margin: 10 auto; width: 656px; text-align: center;">
<ul class= 'answerHolder'>
<div><button id="answer" type="button" > <%= Movie.all.sample.title %> </button></div>
<div><button id="answer" type="button" > <%= Movie.all.sample.title %> </button></div>
<div><button id="answer" type="button" > <%= Movie.all.sample.title %> </button></div>
<div><button id="answer" type="button" > <%= @movie.title%> </button></div>
</ul>
</div>



<script>

$("p#info").hide();

$( "button#hint" ).click(function() {
 $("p#info").toggle();

});
$(".audioButton").on("click", function() {
  $(".audio-play")[0].currentTime = 0;
  return $(".audio-play")[0].play();
});


</script>