

<div id="wrapper" align="center" style="background-color:red;">
	<div align="center">
	<% quote_object = @movie.quotes.sample %>
	<h2><%= quote_object.quote.gsub(/^\w+_\don\S/, '').gsub('~ ~', '') %></h2>

		<div class="movie_row" style="background-color:green;">
	<p id="info" align="left"><%= @movie.tagline %>
 <br>Release date: <%= @movie.release_date %>
 	</p>

			<button id="answer" type="button" > 
				<img src="<%=@movies[0]%>" height="250" width="200"><br> 
			</button>

			<button id="answer" type="button" >
				<img src="<%=@movies[1]%>" height="250" width="200">
			</button>


		</div>
		<div class="movie_row">
			<button id="answer" type="button" > 
				<img src="<%=@movies[2]%>" height="250" width="200">
			</button>

			<button id="answer" type="button" >
				<img src="<%=@movies[3]%>" height="250" width="200">
			</button>
		</div>
	</div>
</div>

</div>

<% bob = quote_object.audio_path.gsub("/Users/mendelblesofsky/Development/projects/Guess-the-Movie/app/assets/audios/","")  %>

<%= audio_tag bob, class: "audio-play" %>


<button id="play"class="audioButton"> <p class="button"> Play </p> </button>
<button id="hint" type="button"> <p class="button"> Hint </p> </button>
<div id="info">
</div>





<script>
	$("p#info").hide();
$(document).ready(function() {
	$( "button#hint" ).click(function() {
	 $("p#info").toggle();

	});
	$(".audioButton").on("click", function() {
	  $(".audio-play")[0].currentTime = 0;
	  return $(".audio-play")[0].play();
	});

		

	timer = setTimeout(function(){
		$('#body').html("The correct answer was: <%=@movie.title%>");
			$('#body').append("<div class='answer'><button id='answer'type='button'><img src='<%=@movie.poster_url%>' height='450'width='400'></button></div>");
				wrong_count = wrong_count - 1
				$('#score').text(score);
				$('#wrong').text(wrong_count);
				$('#body').html("<h1 align='center'>Times up!</h1>");
			$('#body').append("The Correct Answer Was: <%=@movie.title%>");
			$('#body').append("<div class='answer'><button id='answer'type='button'><img src='<%=@movie.poster_url%>' height='450'width='400'></button></div>");

				if (wrong_count == 0) {
			$('#body').html("<h1 align='center'>Game Over!!</h1>");
			$('#body').append("<a href='/'> Play Again!</a>");
		} else {
		setTimeout(function(){
		$.post("/game_play/new", {"right/wrong" : "right" }, function(html){
			$('#body').hide();
			$('#body').html(html);
			$('#body').show('10000');
		})}, 2500);
		};
				
	}, 20000);

	$('img').click(function(event){
		clicked = true
		clearTimeout(timer);
		if (event.target.src == "<%=@movie.poster_url%>") {
			$('#body').html("<h1 align='center'>Correct!</h1>");
			$('#body').append("<div class='answer'><button id='answer'type='button'><img src='<%=@movie.poster_url%>' height='250'width='200'></button></div>");
			score ++;
		} else {
			$('#body').html("<h1 align='center'>Incorrect!</h1>");
			$('#body').html("The correct answer was: <%=@movie.title%>");
			$('#body').append("<div class='answer'><button id='answer'type='button'><img src='<%=@movie.poster_url%>' height='450'width='400'></button></div>");
			wrong_count = wrong_count - 1
		};
		$('#score').text(score);
		$('#wrong').text(wrong_count);

		if (wrong_count == 0) {
			$('#body').html("<h1 align='center'>Game Over!!</h1>");
			$('#body').append("The correct answer was: <%=@movie.title%>");
			$('#body').append("<div class='answer'><button id='answer'type='button'><img src='<%=@movie.poster_url%>' height='450'width='400'></button></div>");
			$('#body').append("<a href='/'> Play Again!</a>");
		} else {
		setTimeout(function(){
		$.post("/game_play/new", {"right/wrong" : "right" }, function(html){
			$('#body').hide();
			$('#body').html(html);
			$('#body').show('10000');
		})}, 2500);
		};
	});



});


var $button = document.querySelector('.button');
$button.addEventListener('click', function() {
  var duration = 0.3,
      delay = 0.08;
  TweenMax.to($button, duration, {scaleY: 1.6, ease: Expo.easeOut});
  TweenMax.to($button, duration, {scaleX: 1.2, scaleY: 1, ease: Back.easeOut, easeParams: [3], delay: delay});
  TweenMax.to($button, duration * 1.25, {scaleX: 1, scaleY: 1, ease: Back.easeOut, easeParams: [6], delay: delay * 3 });
});

</script>